/* .button {
    padding: 2px 10px;
    color: #eee;
    border-radius: 10px;
    background-color: grey;
  }
  
  .button.primary {
    background-color: red;
  }
   */
  .card {
    width: 200px;
    height: 350px;
    border: 3px solid red;
    margin: 10px;
  }
  .img {
    background-image: url("imageUrl");
  }
  .large {
    padding: 10px;
  }
  
  .default {
    padding: 5px;
  }
  
  .small {
    padding: 0px;
  }
  
  .center {
    text-align: center;
  }
  
  .navbar {
    width: 100%;
    background-color: #444;
  }
  
  /* .navbar a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 10px;
    display: inline-block;
    color: #eee;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  } */